<template>
    <section class="container">
        <post-create></post-create>
        <div class="posts">
            <template v-for="post in posts">
                <post :data="post"></post>
            </template>
        </div>
        <a v-if="!done" v-on:click="loadMore" class="more"><i class="fas fa-plus"></i> Load more</a>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex'
    import jdenticon from 'jdenticon'

    export default {
        computed: {
            ...mapGetters(['posts', 'logged']),
            done() {
                return this.$store.state.posts.current_page == this.$store.state.posts.last_page
            }
        },
        mounted: function() {
            this.$store.dispatch('getUser')
            this.$store.dispatch('getPosts', 1)
            jdenticon()
        },
        methods: {
            loadMore(event) {
                if (this.$store.state.posts.current_page < this.$store.state.posts.last_page)
                    this.$store.dispatch('getPosts', this.$store.state.posts.current_page + 1)
            }
        }
    }
</script>
