<template>
    <div class="post">
        <svg class="post-image" width="80" height="80" :data-jdenticon-value="data.author.username"></svg>
        <div class="post-content">
            <div class="post-meta">
                <a href="" class="display-username">{{ data.author.name }}</a>
                <a class="username">@{{ data.author.username }}</a>
                <div class="fg1"></div>
                <div class="date">{{ data.created_at }}</div>
            </div>
            <p>{{ data.body }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            data: Object
        },
        computed: {

        },
        mounted: function() {

        }
    }
</script>
