<template>
    <form v-if="logged" v-on:submit.prevent="sendMessage" class="post">
        <textarea v-on:focus="edit" v-on:focusout="editStop" name="post" v-model="message"></textarea>
        <div v-if="showActions" class="form-actions">
            <button>Post</button>
        </div>
    </form>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                showActions: false,
                message: ""
            }
        },
        computed: {
            ...mapGetters(['logged'])
        },
        mounted: function() {

        },
        methods: {
            edit() {
                this.showActions = true
            },
            editStop() {
                if (this.message.length === 0)
                    this.showActions = false
            },
            sendMessage(e) {
                this.$store.dispatch('createPost', this.message)
            }
        }
    }
</script>
